  .size{
     font-size: large;
  }
  .black{
    color:#000
  }
  .inputShow{
    background-color: rgb(240, 240, 238);
  }
  .btn{
     font-size: large; 
  }
  .center{
    justify-content: right;
  }
  .margin{
    margin-top: 16px;
  }
  @media only screen and (max-width: 600px) {
    .size{
        font-size: 14px;
    }
  }