.CenterText{
    text-align: center;
    font-size: 20px;
}
.ButtonContainer{
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    margin-right: 56px;
    margin-bottom: 40px;
}
.Button{
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    margin-right: 16px;
}
.Container{
    --ion-background-color:#fff;
    margin-top: 32px;
 }
 .FullHeight{
     height: 100%;
     padding-top: 32px;
     width: 80px;
     text-align: center;
     }
.ArrowUp{
  width: 0; 
  margin:  auto;

  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid  #0d335d;
}
 .Line{
    border-left: 4px solid #0d335d;
     width: 0px;
     height: 74%;
     margin:  auto;
 }
 .BiggerText{
     font-size: large
 }