.Card{
    flex-basis: 400px;
    flex-grow: 1;
}
.Card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    transition: .2s;
    
}
.Styled{
    background-color:rgb(4, 167, 118) ;
    color: white;
}
.Styled:hover{
    background-color: rgb(1, 143, 100);
}
.Row{

font-size: large;
}
.SubTitle{
    font-size: 22px;
    color: #00adb5;
}
.Span{
margin-left: 8px;
display: inline-block;
text-align: center;
vertical-align: middle;

}
.Icon{
    vertical-align: top;
    font-size: 22px;
    color:#30475e;
    margin-left: 8px;
}
.icon{
    color: #f9ed69;
}
.title{
    color:white;
}
.subTitle{
    color: #456268;
}
.divide{
    display: block;
    line-height: .7;
    font-weight: bold;
    font-size: 16px;
}