.marginButtom{
    margin-bottom: 70px;
}
.margin{
    margin: 16px;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.basis{
    flex-basis: 700px;
    margin: 16px;
}